* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/wallpaper.jpg);
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100%;
}



.header {
    background: rgba(0, 0, 999, 0);
    height: 100vh;
}

.message {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    top: 250px;
}

.message h1 {
    font-size: 52px;
    margin: 25px;
}

.btn {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 28px;
    text-decoration: none;
    border: 1px solid coral;
    border-radius: 35px;
}

.btn1:hover {
    background: coral;
    tansition: .5s;

}

.btn2:hover {
    background: coral;
    tansition: .5s;
}
