html {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;     
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    object-position: center;

}
#opac{
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: white;
    position: absolute;
    z-index: -1;
}
#opachead{
    height: 100px;
    width: 100%;
    opacity: 0.6;
    background-color: aquamarine;
    position: absolute;
    z-index: -1;
}
body {
    background-image: url("../images/image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

header {
    height: 100px;
    width: 100%;
}

#lefthead {
    width: 50%;
    padding: 5px;
}
#righthead {
    width: 50%;
    float: right;
}

header a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
header a:hover{
    text-decoration: underline;
    color: grey;
}
footer {
    height: 20%;
    width: 100%;
    background-color: fuchsia;    
}
h1 {
    color:  black;
}
h2 {
    
}
ul p {
    
}
ul li {
    
}
ul ol li {
    
}
ul ol ul {
    
} 
ul ol ul li {
    
}
ul ol ul p {
    
}
ul ul li {
    
}
ul ul ul li {
    
}
ul ul ul ol li {
    
}